body {
    background: linear-gradient(160deg, #FDB750, #FDB750, #FC2E20, #010100);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.col_box_center
{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.row_box_center
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row_box_center
{
    align-self: center;
    justify-self: center;
}