body{
    background-color: #4E6C50;
}

#totalTons {
    position: sticky;
    top: 0;
    padding: 15px;
    border: 5px solid black;
    text-align: center;
}

#totalTonsText {
    text-align: center;
}

#autoTrip {
    border: 2px solid red;
    text-align: center;
    margin: 15px;
}

#airTrip {
    border: 2px solid red;
    margin: 15px;
}

#tripSelectWrapper {
    margin: 10px;
    border: 2px solid blue;
}

#hostWrapper {
    border: 2px solid green;
}

.topDiv {
    border: 1px solid black;
    height: 100px;
    height: 100px;
    margin: auto;
/*    text-align: center;*/
        
}

.midDiv {
    border: 1px solid black;
    height: 100px;
}

.bottomDiv {
    border: 1px solid black;
    height: 100px;
}

#carType {
/*    margin-right: auto;*/
}

.airpotSelectContainer {
    border: 1px solid white;
    max-width: 250px;
    display: flex;
}

.airport {
    background-color: #395144;
    width: 150px;
    position: relative;
    margin-left:0 auto;
    margin-right:0 auto;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.airport:hover {
    background-color: #AA8B56;
}

.layoverArrow {
    margin-left: auto;
}