#totalTons {
    position: sticky;
    top: 0;
    padding: 15px;
    border: 5px solid black;
    text-align: center;
}

#totalTonsText {
    text-align: center;
}

#autoTrip {
    border: 2px solid red;
    text-align: center;
    margin: 15px;
}

#airTrip {
    border: 2px solid red;
    text-align: center;
    margin: 15px;
}

#tripSelectWrapper {
    margin: 10px;
    border: 2px solid blue;
}

#hostWrapper {
    border: 2px solid green;
}

.topDiv {
    border: 1px solid black;
    height: 100px;
    height: 100px;
    margin: auto;
/*    text-align: center;*/
        
}

.midDiv {
    border: 1px solid black;
    height: 100px;
}

.bottomDiv {
    border: 1px solid black;
    height: 100px;
}

#carType {
/*    margin-right: auto;*/
}