#totalTons {
    position: sticky;
    top: 0;
    padding: 15px;
    border: 5px solid black;
    text-align: center;
}

#totalTonsText {
    text-align: center;
}

#autoTrip {
    border: 2px solid red;
    text-align: center;
    margin: 15px;
}

#airTrip {
    border: 2px solid red;
    text-align: center;
    margin: 15px;
}

#tripSelectWrapper {
    margin: 10px;
    border: 2px solid blue;
}

#hostWrapper {
    border: 2px solid green;
}

.topDiv {
    border: 1px solid black;
    height: 100px;
    height: 100px;
    margin: auto;
/*    text-align: center;*/
        
}

.midDiv {
    border: 1px solid black;
    height: 100px;
}

.bottomDiv {
    border: 1px solid black;
    height: 100px;
}

#carType {
/*    margin-right: auto;*/
    float: left;
    background-color: #ededed;
    color: gray;
    border: 2px solid #d8d8d8;
    border-radius: 5px;
    width: 20%;
    height: 50px;
    font-size: 16px;
    margin-top: .5%;
    margin-left: 5%;
}
#carType:hover {
    background-color: #d8d8d8;
    color: white;
}

#tripOrWeeklyButton {
    float: right;
    background-color: #ededed;
    color: gray;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
    width: 20%;
    height: 50px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: .5%;
    margin-right: 5%;
    text-decoration: none;
}
#tripOrWeeklyButton:hover {
    background-color: #d8d8d8;
    color: white;
}

#milesInput {
    background-color: #ededed;
    color: gray;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
    width: 20%;
    height: 10px;
    padding: 16px 32px;
/*    text-align: center;*/
    font-size: 20px;
    margin-top: .5%;
    margin-right: 5%;
    text-decoration: none;
}

.submitButton {
    background-color: #ededed;
    color: gray;
    border: 2px solid #d8d8d8;
    border-radius: 10px;
    width: 20%;
    height: 50px;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin-top: .5%;
    text-decoration: none;
}
.submitButton:hover {
    background-color: #d8d8d8;
    color: white;
}